<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
    <h1>
    **************************** <br>
    Secure System Access <br>
    **************************** <br><br>
    </h1>
    <h2>
        Please select a Username and Password
    </h2>
    <style type = "text/css">
    html{
      background-color: black;
        }
    h1{
      color: white;
    }
    h2{
      color: white;
    }
    body{
      color: white;
    }
    </style>
</head>
<body>
    <form action="/new_user">
    Enter Username:
    <input type="text" name="user">
    <br><br>
    Enter Password:
    <input type="text" name="pass">
    <br><br>
    <button type="submit">Create</button>
    </form>

</body>
</html>