<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>
    **************************** <br>
    Secure System Access <br>
    **************************** <br><br>
    </h1>
    <h2>Welcome</h2>
    <h3> Please Select the Option you world like to do.</h3>
<form action="/home">
    Options: <br><br>

    1. Login <br><br>
    2. Create New User Account <br><br>
    3. Quit <br><br>

    <input type="text" name="opt">
    <br><br>

    <button type="submit">Confirm</button>


</form>

</body>
</html>