<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mistake</title>
    <h1>
        **************************** <br>
        Secure System Access <br>
        **************************** <br><br>
    </h1>
</head>
<body>
    <h2>That is not an option</h2>
    <h3>To login:<br>
    Please type "login" or "1" in the options box.<br><br>
        To Create an account: <br>
        Please type "Create New User Account" or "2" in the options box.
    </h3>

    <a href="/"">Select an Option</a>
</body>
</html>