<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops</title>
    <h1>
    **************************** <br>
    Secure System Access <br>
    **************************** <br><br>
    </h1>
    <style type = "text/css">
    html{
      background-color: black;
        }
    h1{
      color: white;
    }
    h3{
      color: white;
    }
    body{
      color: white;
    }
    </style>
</head>
<body>

<h3>{{ user }} is already taken. Please pick a new username.</h3>
<br><br>

<a href="/home?opt=2">Pick a new username/password</a>

</body>
</html>